body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
}

@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #42DCA3;
}

a:focus, a:hover {
    text-decoration: none;
    color: #1d9b6c;
}

.container-back{
    background: rgba(0,0,0,0.4);
}

.section_title{
    font-size: 20px;
}

i{
    color:#fff;
    font-size:3em;
}

.devicon-android-plain:hover{
    color: #A4C439;
    transition: color 0.5s ease;
}

.devicon-angularjs-plain:hover{
    color: #c4473a;
    transition: color 0.5s ease;
}


.devicon-bootstrap-plain:hover{
    color: #59407f;
    transition: color 0.5s ease;
}

.devicon-bitbucket-plain:hover{
    color: #205081;
    transition: color 0.5s ease;
}

.devicon-c-plain:hover{
    color: #03599c;
    transition: color 0.5s ease;
}

.devicon-cplusplus-plain:hover{
    color: #9c033a;
    transition: color 0.5s ease;
}

.devicon-csharp-plain:hover{
    color: #68217a;
    transition: color 0.5s ease;
}

.devicon-css3-plain:hover{
    color: #3d8fc6;
    transition: color 0.5s ease;
}

.devicon-github-plain:hover{
    color: #181616;
    transition: color 0.5s ease;
}

.devicon-git-plain:hover{
    color: #f34f29;
    transition: color 0.5s ease;
}

.devicon-html5-plain:hover{
    color: #e54d26;
    transition: color 0.5s ease;
}

.devicon-java-plain:hover{
    color: #ea2d2e;
    transition: color 0.5s ease;
}

.devicon-javascript-plain:hover{
    color: #f0db4f;
    transition: color 0.5s ease;
}

.devicon-jquery-plain:hover{
    color: #0061ff;
    transition: color 0.5s ease;
}

.devicon-mysql-plain:hover{
    color: #3176bc;
    transition: color 0.5s ease;
}

.devicon-php-plain:hover{
    color: #6181b6;
    transition: color 0.5s ease;
}

.devicon-react-original:hover{
    color: #61dafb;
    transition: color 0.5s ease;
}

.devicon-slack-plain:hover{
    color: #fcab0a;
    transition: color 0.5s ease;
}

.devicon-visualstudio-plain:hover{
    color: #14b8ff;
    transition: color 0.5s ease;
}

#mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(176, 177, 178,0.3) /* once shrinked */
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    width: 50px;
    border: 1px solid white;
    background: rgba(15, 15, 15,0.3) /* Menu button */
}

#mainNav .navbar-brand {
    font-weight: 700;
}

#mainNav a {
    color: white;
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(15, 15, 15,0.3)
    }
    #mainNav .nav-link.active {
        outline: none;
        background: rgba(15, 15, 15,0.3)
    }
    #mainNav .nav-link.active:hover {
        color: white;
    }
}

.button-hover{
    padding: 10px;
    border-radius: 8px;
    background: rgba(15, 15, 15,0.3);
    text-align: center;
}

.button-hover:hover, button-hover:focus, button-hover:active{
    background: rgba(15, 15, 15,0.6);
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("../img/intro-sky.jpg") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.outline{
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.masthead .intro-body .brand-heading {
    font-size: 30px;
}

.masthead .intro-body .intro-text {
    font-size: 18px;
}

@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0;
    }
    .masthead .intro-body .brand-heading {
        font-size: 80px;
    }
    .masthead .intro-body .intro-text {
        font-size: 22px;
    }
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}

.content-section {
    padding-top: 150px;
    padding-bottom: 150px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

/*Content Images */
.content_back_fill{
    background: url("../img/back-fill.jpg") no-repeat bottom center;
}

.content_back_fill_2{
    background: url("../img/back-fill2.jpg") no-repeat bottom center;
}

.content_back_fill_3{
    background: url("../img/back-fill3.jpg") center center;
}


#map {
    width: 100%;
    height: 300px;
}

@media (min-width: 992px) {
    .content-section {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    #map {
        height: 350px;
    }
}

.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-github{
    color: #42DCA3;
    border: 1px solid #42DCA3;
    background-color: transparent;
}

.btn-github:hover, btn-github:focus{
    color: black;
    border: 1px solid black;
    outline: none;
    background-color: #fff;
}

.btn-google{
    color: #42DCA3;
    border: 1px solid #42DCA3;
    background-color: transparent;
}

.btn-google:hover, btn-google:focus{
    color: white;
    border: 1px solid black;
    outline: none;
    background-color: #db4437;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}

::-moz-selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
